@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: Roboto;
  background-color: #f2f7f7;
}

#pagewrap {
  width: 920px;
  margin: 0px auto;
}

ul {
  list-style-type: none;
  padding: 10px 0px 10px 0px;
}

.button {
  width: 50%;
  background-color: #ffa02f;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: 1px solid #ffa02f;
  min-height: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffd508;
}

h1 {
  font-size: 20px;
  color: #000;
}

p {
  font-size: 16px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#navBar {
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd508), to(#ffa02f));
  background-image: linear-gradient(to right, #ffd508, #ffa02f);
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#navBar .item {
  cursor: pointer;
  font-size: 16px;
  float: left;
  margin: 2%;
}

#navBar .logo {
  float: left;
  font-size: 20px;
  margin: 15px;
}

#cardBoxes {
  width: 100%;
  margin-top: 30px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#cardBoxes .card {
  background-color: #fff;
  float: left;
  border: 1px solid #dbdad5;
  border-radius: 5px;
}

#cardBoxes .card .content {
  padding: 15px;
}

#cardBoxes .card img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#searchBox {
  background-color: #fff;
  border: 1px solid #dbdad5;
  border-radius: 5px;
  margin: 30px 0px 30px 0px;
  text-align: center;
  -webkit-column-count: 1;
          column-count: 1;
  padding: 15px;
}

#searchBox p {
  margin-bottom: 30px;
}

#searchBarContainer {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
}

#searchBarContainer .button {
  float: left;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  text-decoration: none;
  width: 50%;
}

#searchBarContainer input[type="text"] {
  font-size: 16px;
  padding: 10px 0 10px 10px;
  border: 1px solid #dbdad5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 20px;
  width: 50%;
  float: right;
  outline-color: #ffa02f;
}

#loader {
  margin: 10px auto -34px auto;
  display: none;
}

.searched {
  -webkit-animation: fadeOut 500ms linear;
          animation: fadeOut 500ms linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: none;
}

.loader-start {
  display: block;
  -webkit-animation: spin 4s linear;
  animation: spin 4s linear;
}

#beforeButton {
  display: none;
}

.afterButton {
  display: block;
  padding: 20px;
}

#list {
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    display: block;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  #pagewrap {
    width: 90%;
  }
  .button {
    width: 100%;
  }
  #navBar .item {
    display: none;
  }
  .show-list {
    width: 50%;
  }
  #cardBoxes {
    -webkit-column-count: 1;
            column-count: 1;
  }
  #cardBoxes .card {
    width: 100%;
    margin-bottom: 30px;
  }
  #searchBox {
    margin: 0;
  }
  #searchBox p {
    padding: 0 10px 0 10px;
  }
  #searchBox input::-webkit-input-placeholder {
    font-size: 10px;
  }
  #searchBox input:-ms-input-placeholder {
    font-size: 10px;
  }
  #searchBox input::-ms-input-placeholder {
    font-size: 10px;
  }
  #searchBox input::placeholder {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */